* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }


.list-group {
 position: absolute;
 top: .1vh;
 left: .1vw;
 background-color: #181818;
 
border-radius: 30px;
display: flex;
max-width: 20vw;
flex-direction: column;
align-items: center;
justify-content: flex-start;
z-index: 1000; 
flex-shrink: 0;
color: #ccc;
}


.list-group h1 {
  display: none;
 
 }
#profile {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  max-height: 15.8vh;
  width: 100%;
  border-radius: 20px;
  gap: .5vw;
  flex-shrink: 1;
  padding-left: .5vw;
  background-color: rgba(0, 0, 0, 0.7); 
 
}

#profile h2 {
  font-size: 1rem;
 
 
}
#avatar {
  display: block;
  width: 9vw;
  height:9vh;
  border-radius: 50%;
 
  /*deletted*/
  
}
.list-group ul {
  list-style: none;
  padding: 0.1rem;
  align-content: center;
  text-align: left;
  width: 100%;
  min-height: 17vh;
 
  overflow: hidden;
}
.list-group ul li {
  
  overflow: hidden; 
 text-overflow: ellipsis; 
  font-size: 0.8rem;;
}


 
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
}
@media (max-width: 840px) {
  .list-group {
    display: none;
    z-index: -20;
  }
  
}

